.u-padding-horizontal-section {
    padding-left: $padding-container;
    padding-right: $padding-container;

    @media only screen and (max-width: 950px) {
        padding-left: $padding-container-md;
        padding-right: $padding-container-md;  
    }


    @media only screen and (max-width: 579px) {
        padding-left: $padding-container-sm;
        padding-right: $padding-container-sm;
    }
}

.u-margin-vertical-section {
    margin-top: $margin-vertical-container;
    margin-bottom: $margin-vertical-container;

    @media only screen and (max-width: 950px) {
        margin-top: $margin-vertical-container-md;
        margin-bottom: $margin-vertical-container-md;  
    }


    @media only screen and (max-width: 579px) {
        margin-top: $margin-vertical-container-sm;
        margin-bottom: $margin-vertical-container-sm;
    }
}