.u-padding-section {
    padding-left: $padding-container;
    padding-right: $padding-container;

    @media only screen and (max-width: 950px) {
        padding-left: $padding-container-md;
        padding-right: $padding-container-md;  
    }


    @media only screen and (max-width: 579px) {
        padding-left: $padding-container-sm;
        padding-right: $padding-container-sm;
    }
}