$color-primary-dark: #0093e9;
$color-primary-light: #80d0c7;

$color-black: #222b54;
$color-gray: #8f9bb3;
$color-gray-lighter: #e7efff;
$color-white: #fff;
$color-favourite: #ff0180;
$color-warning: #ffc100;
$color-success: #00e096;
$color-disable: rgba(#8f9bb3, 0.48);

$font-size-heading1: 3.6rem;
$font-size-heading2: 3.2rem;
$font-size-heading3: 3rem;
$font-size-heading4: 2.6rem;
$font-size-heading5: 2.2rem;
$font-size-heading6: 1.8rem;

$font-size-subtitle1: 1.5rem;
$font-size-subtitle2: 1.3rem;

$font-size-paragraph1: 1.5rem;
$font-size-paragraph2: 1.3rem;

$padding-container: 10%;
$padding-container-md: 8%;
$padding-container-sm: 5%;

$padding-vertical-container: 8rem;
$padding-vertical-container-md: 7rem;
$padding-vertical-container-sm: 6rem;

$box-shadow: 0px 6px 20px rgba($color-black, 0.05);

$boder-radious: 50px;
$boder-radious-btn: 5px;

$height-btn-small: 4.5rem;
$height-btn-large: 6rem;

$header-height: 6.9rem;
