@import "../../../../sass/index.scss";

.feedback-item {
  padding-top: 50px;
  &__name {
    font-size: $font-size-heading6;
    color: $color-gray-lighter;
  }
  &__location {
    font-size: $font-size-heading6;
    // color: rgba($color-black, .8);
    color: rgba($color-white, 0.9);
  }
  &__description {
    font-size: $font-size-heading5;
    color: $color-white;
    position: relative;
    font-weight: 700;
    p::before {
      content: "\201C";
      font-size: 10rem;
      line-height: 0;
      font-family: "Passion One", cursive;
      color: rgba($color-white, 0.6);
      display: inline-block;
      transform: matrix(1, 0, 0, -1, -1, -22);
    }
    p::after {
      content: "\201D";
      font-size: 10rem;
      font-family: "Passion One", cursive;
      position: absolute;
      bottom: -2px;
      line-height: 0;
      right: 0;
      display: inline-block;
      color: rgba($color-white, 0.6);
    }
  }
}

@media (max-width: 407px) {
  .feedback-item {
    &__description {
      font-size: $font-size-heading6;
      text-align: justify;
      p::before {
        transform: matrix(1, 0, 0, -1, 0, -22);
      }
      p::after {
        content: "\201D";
        font-size: 10rem;
        font-family: "Passion One", cursive;
        position: absolute;
        bottom: -15px;
        line-height: 0;
        right: 0px;
        color: rgba($color-white, 0.6);
      }
    }
  }
}
