@import '../../../../sass/index.scss';

.search {
    border-radius: $boder-radious;
    position: relative;
    // width: 80%;
    width: fit-content;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    &:hover {
        background-color: rgba($color-gray, 0.1);
    }
    &:hover &__input {
        width: 80%;
    }

    &:hover &__icon {
        font-size: 2rem;
    }
    &__icon {
        margin-left: 1.5rem;
        margin-right: 0.2rem;
        font-size: 2.5rem;
        font-weight: bold;
        color: $color-primary-dark;
        transition: all 0.2s;
    }
    &__input {
        all: none !important;
        padding: 5px 10px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        outline: none;
        border: none;
        color: $color-black;
        width: 0;
        transition: all 0.5s;
        &:focus {
            width: 80%;
        }
    }
}


// @media only screen and (max-width: 650px){
//     .search {
//         // background-color: #fff;
//         // z-index: 1000;
//         // width: 100%;
//         // position: absolute;
//          &__input {
//             &:focus {
//                 position: absolute;
//                 width: 100%;
//                 left: 0;
//             }
//     }
//     }
// }