@import '../../sass/index.scss';

.button-large {
        background-color: $color-warning;

    // color: #fff;
    color: $color-black;
    // color: $color-primary-dark;
    font-weight: bold;
    border-radius: $boder-radious-btn;
    height: $height-btn-large;
    // width: 195px;
    font-size: $font-size-heading5;
    // margin-top: 3rem;
    transition: all 0.2s;
    border: none;

    &:hover {
        background-color: $color-success;

        color: $color-black;
    }
    &:visited, &:focus {
        // background-color: $color-success;
        background-color: $color-warning ;


    }
}
