.app-download {
    width: 100%;
    margin: 0;
    margin-bottom: 15rem;
    &__row {
        width: 100%;
        padding-left: $padding-container-md;
        padding-right: $padding-container-md;
        margin: 0 !important;
    }
    &__left {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        &__wrap {
            h2 {
                font-size: $font-size-heading1;
                color: $color-black;
            }
            &__download {
                .app-store {
                    margin-right: 5px;
                }
                .ch-play {
                    margin-left: 5px;
                }
            }
        }
    }
    &__right {
        text-align: center;
        &__wrap {
            &__mobile {
                .slick-dots {
                    display: none !important;
                }
                &__background {
                    height: 100%;
                    width: 40% !important;
                }
            }
        }
    }
}

@media (max-width: 407px) {
    .app-download__row {
        padding: 0;
    }
    .app-download__left__wrap {
        h2 {
            font-size: $font-size-heading3;
        }
    }
    .app-download__right__wrap {
        &__mobile {
            &__background {
                width: 60% !important;
                height: 100%;
            }
        }
    }
}
