.button-custom {
    &.ant-btn-primary {
        background-color: $color-primary-dark !important;
        font-size: $font-size-paragraph1;
    }
    &.ant-btn-default { 
        color: $color-primary-dark;
        border-color: $color-primary-dark;
    }
}
