.button-custom {
    height: $height-btn-small !important;
    font-size: $font-size-heading6;
    border-radius: $boder-radious-btn;
    &.ant-btn-primary {
        background-color: $color-primary-dark !important;
        font-size: $font-size-paragraph1;
    }
    &.ant-btn-default { 
        color: $color-primary-dark;
        border-color: $color-primary-dark;
    }
}
