.form-signup-with-email {
    margin-top: 3rem;
    display: flex;
    height: 9rem;
    transition: all .2s;
    width: 100%;
    text-align: left;
    .form-item-email {
        flex: 1;
        text-align: left;
        // margin-right: -2px !important;
        margin-right: 1rem !important;
        
            z-index: 10;
        .ant-form-item-explain {
            transition: all .2s;
            margin-top: 3px;
            color: $color-warning;
            font-size: $font-size-paragraph1;
        }
    }
    .form-item-btn {
        z-index: 5;
    }

    .content-form {
        width: 80%;
        display: flex;
        // justify-content: center;
        align-items: flex-start;
        div {
            margin: 0;
        }
    }
    .custom-input-with-email {
        input {
            border-radius: $boder-radious-btn !important;
            height: $height-btn-large;
            font-size: 2rem;
            // margin-right: -10px;
            // border-top-right-radius: 0;
            // border-bottom-right-radius: 0;
            // z-index: 10;
            &::placeholder {
                font-size: 2rem;
            }
        }
    }
}

@media(max-width: 1100px){
    .form-signup-with-email {
        .content-form {
            width: 90%;
        }
    }
}

@media(max-width: 895px){
    .form-signup-with-email {
        justify-content: center;
        margin-top: 2rem;
        .content-form {
            width: 70%;
        }
    }
}
@media(max-width: 600px){
    .form-signup-with-email {
        .content-form {
            width: 100%;
        }
    }
}

// @media(max-width: 883px){
//  .form-signup-with-email {
//      height: fit-content;
//     .content-form {
//         // flex-direction: column;
//         align-items: center;
//         height: calc(#{$height-btn-large} + 3rem);
//     }
//      .form-item-email {
//         text-align: left;
//     }
//  }
// }