.cta {
    text-align: center;
    margin-bottom: 15rem;
    &__wrap {
        margin-left: $padding-container-md;
        margin-right: $padding-container-md;
    }
    &__title {
        font-size: $font-size-heading1;
        color: $color-black;
    }
    &__button {
        background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
        color: #fff;
        font-weight: bold;
        border-radius: 50px;
        height: 68px;
        width: 195px;
        font-size: $font-size-heading5;
        margin-top: 3rem;
        transition: all .5s;
        border: none;

        &:hover {
            background-color: $color-success;
            background-image: linear-gradient(to left, $color-primary-dark, $color-primary-light);
            color: #fff;

        }
    }
}

@media (max-width: 407px) {
    .cta {
        &__wrap {
            margin-left: $padding-container-sm;
            margin-right: $padding-container-sm;
        }
        &__title {
            font-size: $font-size-heading3;
        }
    }
}
