// This is file feature.scss
.feature {
    margin-top: 8rem;
    margin-bottom: 8rem;
    align-content: stretch;
    &__item {
      padding: 1rem;
    }
}

@media only screen and (max-width: 579px) {
    .feature  {
      // margin-top: 5rem;
      // margin-bottom: 2rem;
      position: relative;
      padding: 1rem;
      &__item {
        width: 50%;
      }
    }
}