.topic {
    padding: $padding-container;
    &__item {
        padding: 1rem;
    }
}

@media only screen and (max-width: 579px) {
    .topic  {
      &__heading {
        padding-left: 2rem;
      }
    }
}