@import '../../sass/index.scss';

.topic {
    margin-top: 8rem;
    margin-bottom: 8rem;
    &__item {
        padding: 1rem;
        cursor: pointer;
    }
}

@media only screen and (max-width: 579px) {
    .topic  {
      &__heading {
        padding-left: 2rem;
      }
    }
}