@import '../../sass/index.scss';

.topic {
    margin-top: 8rem;
    margin-bottom: 4rem;
    &__item {
        padding: 1rem;
        cursor: pointer;
    }
    .ant-row {
       margin-top: 8rem; 
    }
}

// @media only screen and (max-width: 579px) {
//     .topic  {
//       &__heading {
//         // padding-left: 2rem;
//       }
//     }
// }