.description {
    padding: 0 $padding-container;
    display: flex;
    align-items: flex-start;

    h2 {
        font-size: $font-size-heading2;
        color: $color-black;
    }

    p {
        color: $color-gray;
    }

    &__content-padding {
        padding: 5rem 10rem 0 0;
    }

    &__img {
        position: relative;

        img {
            object-fit: scale-down;
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 1240px) {
    .description {
        padding: 0 $padding-container-md;

        &__content-padding {
            padding: 5rem 5rem 0 0;
        }
    }
}

@media (max-width: 1050px) {
    .description {
        padding: 0 $padding-container-sm;

        &__content-padding {
            padding: 5rem 3rem 0 0;
        }
    }
}

@media(max-width: 670px) {
    .description {
        h2 {
            font-size: $font-size-heading3;
        }

        p {
            font-size: $font-size-paragraph1;
        }
    }
}

@media(max-width: 510px) {
    .description {
        flex-direction: column;

        h2 {
            font-size: $font-size-heading4;
        }

        p {
            font-size: $font-size-paragraph2;
            padding: 0;
        }

        .col-6 {
            width: 80vw;
        }

        &__content-padding {
            padding: 5rem 0;
            text-align: center;
        }

        &__img {
            position: relative;

            img {
                width: 80vw;
                height: 80%;
            }
        }
    }
}
