@import "../../sass/index.scss";

.description {
  display: flex;
  align-items: flex-start;

  h2 {
    font-size: $font-size-heading2;
    color: $color-black;
    font-weight: bold;
  }

  &__definition {
    word-spacing: -1.5px;
    max-width: 500px;
  }

  p {
    max-width: 1250px;
    font-size: 1.8rem;
    color: $color-gray;
    text-align: justify;
  }

  &__content-padding {
    color: $color-gray;
    padding: 5rem 5rem 0 0;
    font-size: $font-size-heading6;
    cursor: default;
    max-width: 600px;
  }

  &__img {
    position: relative;

    img {
      width: 100%;
      height: 300px;
      object-fit: contain;
    }
  }
}

// @media (max-width: 1240px) {
//   .description {
//     &__content-padding {
//       padding: 5rem 5rem 0 0;
//     }
//   }
// }

// @media (max-width: 1050px) {
//   .description {
//     &__content-padding {
//       padding: 5rem 3rem 0 0;
//     }
//   }
// }

@media (max-width: 510px) {
  .description {
    flex-direction: column;
    &__content-padding {
      padding: 5rem 0;
      text-align: center;
    }

    &__definition {
      word-spacing: -1.3px;
    }

    &__img {
      width: 80%;
      margin: auto;

      img {
        width: 100%;
      }
    }
  }
}
