.value {
    align-content: stretch;
    &__item {
      padding: 1rem;
    }
}

@media only screen and (max-width: 579px) {
    .value  {
      position: relative;
      padding: 1rem;
      &__item {
        width: 50%;
      }
    }
}
