// .feedback {
//     width: 100%;
//     margin: 0;
//     &__row {
//         padding-left: $padding-container-md;
//         padding-right: $padding-container-md;
//         &__item {
//             &__card {
//                 &:hover {
//                     background-image: linear-gradient(to right,  $color-primary-dark, $color-primary-light);
//                     transition: all .5s;
//                     cursor: default;
//                 }
//                 .ant-card-body {
//                     .ant-card-meta {
//                         .ant-card-meta-avatar {
//                             span {
//                                 width: 50px;
//                                 height: 50px;
//                             }
//                         }
//                         .ant-card-meta-detail {
//                             .ant-card-meta-title {
//                                 font-size: $font-size-subtitle1;
//                             }
//                             .ant-card-meta-description {
//                                 font-size: $font-size-paragraph1;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.feedback {
    text-align: center;
    background-image: linear-gradient(to right,  $color-primary-dark, $color-primary-light);
    padding: $padding-container;
    margin-bottom: 15rem;
    height: 300px;
    position: relative;
    .ant-carousel {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        &__carousel {
            padding-bottom: 50px;
            &__item {
                &__info {
                    &__name {
                        font-size: $font-size-heading4;
                    }
                    &__location {
                        font-size: $font-size-subtitle1;
                    }
                }
                &__description {
                    font-size: $font-size-paragraph1;
                }
            }
        }
}