@import "../../sass/index.scss";

.footer {
  padding: 5rem 0;
  // padding-top: 2rem;
  // padding-bottom: 2rem;
  background-color: rgba($color-gray, 0.1);
  &__top {
    padding: 0 5rem;
    .ant-row {
      margin: 0 !important;
    }
  }
  &__bottom {
    // padding-top: 50px;
    .copyright {
      cursor: default;
    }
  }
}

.footer-column__title {
  cursor: default;
}

@media only screen and (max-width: 579px) {
  .footer {
    &__top {
      padding: 1rem;
    }
  }
}
