 
.banner{
    background-color: $color-primary-dark;
    display: flex;
    justify-content: space-between;
    // padding: 0 0 0 $padding-container;
    margin: 0;
    // max-height: 62vh;

    max-height: 40rem;
    &__img{
        position: relative;
        img {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            object-fit: cover;
        }
    }
    .ant-btn-primary{
        background: $color-success;
        margin: 3rem 0;
        height: 60px;
        width: 170px;
        font-size: $font-size-heading6;

    }
    h1{
        font-size: $font-size-heading1;
        margin: 0;
        display: table-header-group;
    }

    &__center{
        text-align: center;
        margin: auto;
        padding: 1rem;
    }

    &__text-color{
        color: $color-white;
    }
    p{
        font-size: $font-size-subtitle1;
        margin: 0;
    }
}

@media (max-width: 1300px) {
    .banner{
        background-color: $color-primary-dark;
        display: flex;
        justify-content: space-between;
        // padding: 0 0 0 $padding-container-md;
        margin: 0;
    }

    p {
        padding-right: 2rem;
    }
}

@media (max-width: 1260px) {
    h1{
        line-height: 5rem;
    }
    .banner{
        // padding: 0 0 0 $padding-container-sm;
        max-height: 70vh;
    }
}

@media(max-width: 665px){
    .banner{
        flex-direction: column;
        // padding: 0 $padding-container-sm;
        &__center {
            padding: 2rem;
        }
        max-height: 100vh;
        &__button {
            margin-top: 2rem !important;
            margin-bottom: 2rem !important;
        }
        &__img{
            position: relative;
            img {
                width: 100%;
                height: 30%;
                max-height: 30rem;
                background-repeat: no-repeat;
                object-fit: cover;
            }
        }

        &__space{
            padding-top: 1rem;
        }

        .ant-btn-primary {
            padding: 0 8px;
            text-align: center;
            background: $color-success;
            margin: 0.5rem 0;
        }
    }
}
