@import '../../sass/index.scss';

.banner {
    background-color: #E9F8FF;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: $header-height;
    min-height: fit-content;
    padding-bottom: .8rem;
    &__img {
        position: relative;
        img {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            object-fit: cover;
            padding: 2rem 8rem;
        }
        video {
            width: 100%;
            // height: 100%;
        }
    }

    &__center {
        width: 65%;
        text-align: center;
        margin: auto;
        padding: 1rem 6rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    &__text-color {
        color: #1A5296;
        font-size: $font-size-heading1;
        text-align: left;
        // margin: 0 auto 10px 0px;
        // display: table-header-group;
    }
    .description {
        font-size: $font-size-heading5;
        cursor: default;
    }
    p {
        font-size: $font-size-subtitle1;
        margin: 0;
    }
}

@media (max-width: 1125px) {
    .banner {
        &__center {
            padding: 1rem 0rem 1rem 5rem;
        }
        &__text-color {
            font-size: 3rem;
        }
        .description {
            font-size: 2rem;
        }
    }
}

@media (max-width: 994px) {
    .banner {
        &__center {
            margin-top: 4rem;
            width: 90%;
        }
    }
}

@media (max-width: 895px) {
    .banner {
        flex-direction: column;
        &__center {
            display: flex;

            justify-content: center;
            align-items: center;
            padding-left: 0;
        }
        &__text-color {
            font-size: 3.6rem;
            text-align: center;
        }
        .description {
            font-size: 2.2rem;
            display: flex;
            justify-content: center;
        }
        &__img {
            position: relative;
            img {
                width: 100%;
                height: 30%;
                // max-height: 30rem;
                background-repeat: no-repeat;
                object-fit: cover;
            }
        }
    }
}
